@use "base/variables" as v;
@use "base/mixins" as m;


.bloques {
  @include m.contenedor;
  @include m.tablet {
    margin-top: 10rem;
  }

  &__grid {
    @include m.grid(1, 3rem);
    @include m.desktop {
      @include m.grid(2, 3rem)
    }
  }
}

.bloque {

  padding: 3rem;
  color: v.$blanco;
  border-radius: 1rem;
  &:nth-child(1) {
    @include m.bg-gradient(#F97316);
  }

  &:nth-child(2) {
    @include m.bg-gradient(#0f6596);
  }

  &:nth-child(3) {
    @include m.bg-gradient(#4c13bb);
  }
  &:nth-child(4) {
    @include m.bg-gradient(#40a20c);
  }


  &__heading{
    margin: 1rem 0 2rem 0;
    font-size: 3.6rem;
  }

  &__texto{
    margin: 1rem 0;

    &--cantidad {
      margin-top: 6rem;
      font-size: 5rem;
      text-align: center;
      font-weight: v.$bold;
    }
  }
}
